{% extends 'budget/base.html' %}
{% block content %}
<style>
  body {
    background-color:#10212a;
  }
</style>
<div class="container" style="width: 100%;">
  <script>
    var expense = {};
    var amount = {};

  </script>
  <section class="section section-stats">
    <div class="row">
      <div class="row" style="padding-bottom: 10px;">  
        <button class="btn waves-effect" style = "border-radius: 200px;"onclick="window.location.href='{%url 'list' %}'">
          <i class="material-icons white-text ">reply</i>
        </button>
     </div>
   
      <div class="col s12 m12 l4">
        <div class="card-panel">
          <h6 class="bold">Total Budget</h6>
          <h1 class="bold">₹{{ project.budget }}</h1>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card-panel">
          <h6 class="bold">Budget Left</h6>
          {% if project.budget_left > 0 %}
            <h1 class="bold green-text">₹{{ project.budget_left }}</h1>
          {% elif project.budget_left == 0 %}
            <h1 class="bold orange-text">₹{{ project.budget_left }}</h1>
          {% else %}
            <h1 class="bold red-text">₹{{ project.budget_left }}</h1>
          {% endif %}
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card-panel">
          <h6 class="bold">Total Transactions</h6>
          <h1 class="bold">{{ project.total_transactions }}</h1>
        </div>
      </div>

    </div>
  </section>
  {% if project.budget_left != project.budget  %}
  <div class="row" style="width: 100%;margin-left: 0%;margin-right: 0%;">
    <div class=" col" style="width: 50%;">
      <canvas id="myChart" ></canvas>
    </div>
    <div class="chart-container col" style="width: 50%;">
      <canvas id="myChart1"></canvas>
    </div>
  </div>
 
  {% endif %}
  <section class="section section-expenses">
    <div class="row" style="padding-bottom: 10px;padding-top: 10px;">  
        <button class="btn waves-effect right modal-trigger" style = "border-radius: 8px;"href="#expenseModal">
          <i class="material-icons white-text left">add_circle</i>
          Add Expense
        </button>
    </div>
   

    <ul class="z-depth-1">

      {% for expense in expense_list %}
      <li>
        <div class="card-panel z-depth-0 expense">
          <div class="row">

            <div class="col l6">
              <span class="title">{{ expense.title }}</span>
            </div>

            <div class="col l3">
              <span class="title">₹{{ expense.amount }}</span>
            </div>

            <div class="col 1">
              <span class="title bold">{{ expense.category.name }}</span>
            </div>
            <script>
                if(amount["{{expense.category.name}}"])
                {
                  var oldval = parseFloat(amount["{{expense.category.name}}"])
                }
                else
                {
                  var oldval = 0
                }
                var addKey = '{{expense.category.name}}';
                var addVal = parseFloat("{{expense.amount}}");
                var final = oldval + addVal

                amount[addKey] = final
                
                
                function refreshPage(){
                  window.location.reload();
                }
            </script>
            <a class="close-icon" onclick="deleteExpense(this);refreshPage();" data-id="{{ expense.id }}">
              <i class="material-icons red-text right">close</i>
            </a>

          </div>
        </div>
      </li>
      {% endfor %}

    </ul>
  </section>

</div>

<div id="expenseModal" class="modal">
  <script>
    var list = [];
 </script>
  <div class="modal-content">
    <h4>Add Expense</h4>

    <form method="POST" id="myFormId">
      {% csrf_token %}
      <label for="title">Title</label>
      <input name="title" id="title">

      <label for="amount">Amount</label>
      <input name="amount" id="amount">
      
      <select name="category">
        {% for category in category_list %}
        <script>
          list.push('{{category.name}}')
          var newKey = '{{category.name}}';
          var newVal = 0;
          expense[newKey] = newVal;
        </script>
          <option>{{ category.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn">Add</button>
    </form>
    <script>
      var queryString = $('#myFormId').serialize();
      console.log(queryString)

    </script>
  </div>

</div>

<script>
var elem = document.querySelector('.modal')
var instance = M.Modal.init(elem)
console.log(expense)
console.log(amount)

var elem = document.querySelector('select')
var instance = M.FormSelect.init(elem)


function deleteExpense(e){

  let id = e.dataset.id
  e.closest('li').remove()

  fetch('', {
    method: 'DELETE',
    headers: {
      'X-CSRFToken': '{{ csrf_token }}'
    },
    body: JSON.stringify({
      'id': id
    }),
    credentials: 'same-origin',
  })
}
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>
  var ctx = document.getElementById('myChart');
  var ctx1 = document.getElementById('myChart1');

  var keys = [];
  var values = [];
  for(var k in amount) expense[k] = amount[k];
  for(var k in expense) keys.push(k);
  for(var k in expense) values.push(expense[k]);
  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: keys,
          datasets: [{
              label: '# of Votes',
              data: values,
              backgroundColor: [
                  'rgba(255, 99, 132)',
                  'rgba(54, 162, 111)',
                  'rgba(255, 206, 86)',
                  'rgba(75, 192, 192)',
                  'rgba(153, 102, 255)',
                  'rgba(255, 159, 64)'
              ],
              borderColor: [
                  'rgba(255, 99, 132)',
                  'rgba(54, 162, 111)',
                  'rgba(255, 206, 86)',
                  'rgba(75, 192, 192)',
                  'rgba(153, 102, 255)',
                  'rgba(255, 159, 64)'
              ],
              borderWidth: 1
          }],
          
      },
  });
  var options = {
    scales: {
        xAxes: [{
            gridLines: {
              color: "rgba(0, 0, 0, 0)",
            }
        }],
        yAxes: [{
            gridLines: {
                display:false
            }   
        }]
    }
}
  var myChart1 = new Chart(ctx1, {
      type: 'bar',
      data: {
          labels: keys,
          datasets: [{
              data: values,
              backgroundColor: [
                  'rgba(255, 99, 132)',
                  'rgba(54, 162, 111)',
                  'rgba(255, 206, 86)',
                  'rgba(75, 192, 192)',
                  'rgba(153, 102, 255)',
                  'rgba(255, 159, 64)'
              ],
              borderColor: [
                  'rgba(255, 99, 132)',
                  'rgba(54, 162, 111)',
                  'rgba(255, 206, 86)',
                  'rgba(75, 192, 192)',
                  'rgba(153, 102, 255)',
                  'rgba(255, 159, 64)'
              ],
              borderWidth: 1
          }],
      },
      options: {
        scales: {
            xAxes: [{
              gridLines: {
              color: "rgba(0, 0, 0, 0)",
            },
            ticks: {
                    fontColor: 'aliceblue'
                },
            }],
            yAxes: [{
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
            },
            ticks: {
                    fontColor: 'aliceblue'
                },
            }]
        },
        legend: {
    display:false
  },
    }
  });
  </script>
{% endblock %}